<head>
	<meta charset="UTF-8"> 
	<title>Djforum › 首页</title>

    <link rel="stylesheet" type="text/css" href="/static/css/uliweb.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/css/djforums.css">
	<script src="/static/css/jquery.js"></script>

</head>
{% extends "base.html" %}
<body>
{% block content2%}
<div class="sep20"></div>
<div class="box"style="width:70%; padding-top:32px;">


 
       	{%for x in p%}
		<img src="{{MEDIA_URL}}{{x.img}}">
		{%endfor%}
		<div class="left_" align="left" style="padding-top:32px; padding-left:32px">
		<form action="/uploadphoto" method="POST" enctype="multipart/form-data">
		{%csrf_token%}
		<input id="field_image" name="img" type="file" ></p>
		<input id="field_image" type="hidden" name="desc" value="avatar">
		<button class="super normal button">上传</button>
		</form>
		</div>

</div>
</body>
{% endblock %}
